[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
cattrs = "*"
"Jinja2" = "*"
Markdown = "*"
Pillow = "*"
PyYAML = "*"
requests = "*"
"urllib3" = "*"
python-resize-image = "*"
sqlalchemy = "*"

[dev-packages]
"flake8" = "*"
rope = "*"
black = "*"

[pipenv]
allow_prereleases = true
