{% macro thumbnail(submission, thumbnails, limit, rootprefix="", inartistdir=False, titleonly=False) %}
<div class="col-sm-2 minithumb">
    <img class="minithumb" src="{{rootprefix}}{% if not inartistdir %}{{submission.artist.slug()}}/{% endif %}{{thumbnails[submission.slug].120}}" /><br />
    <a href="{{rootprefix}}{{ submission.get_path(inartistdir, limit) }}">{{submission.title}}{% if not titleonly %} by {{submission.artist.name}}{% endif %}</a>
</div>
{%- endmacro %}
{% macro thumbblock(submissions, thumbnails, limit) %}
<div class="row">
    {% for submission in submissions %}
        {{thumbnail(submission, thumbnails, limit, **kwargs)}}
    {% endfor %}
</div>
{%- endmacro %}