{% extends "_layout.html" %}
{% block title %}Kauko's art from {{artist.name}}{% endblock %}
{% block content %}
    <h1>{{artist.name}}</h1>
    {% if artist.links %}
        <h2>Links</h2>
        {% if artist.links.fa %}<p><a href="https://www.furaffinity.net/user/{{artist.links.fa}}/">FurAffinity</a></p>{% endif %}
        {% if artist.links.weasyl %}<p><a href="https://www.weasyl.com/~{{artist.links.weasyl}}">Weasyl</a></p>{% endif %}
    {% endif %}
    
    <h2>Art</h2>
    {{mh.thumbblock(files, thumbnails, inartistdir=True, titleonly=True)}}
{% endblock %}