{% extends "_layout.html" %}
{% block title %}Art with {{character.name}}{% endblock %}
{% block content %}
    <h1>{{character.name}}</h1>
    {% if character.description %}<p>{{character.description}}</p>{% endif %}

    {% for form in character.get_root_forms(limit) %}
        <h2 id="{{form.form_name}}">{{form.get_friendly_name()}}</h2>
        {% if form.description %}<p>{{form.description}}</p>{% endif %}

        {{mh.thumbblock(form.submissions_filtered(limit), thumbnails, limit, rootprefix="../")}}

        {% for subform in form.children %}
            <h3 id="{{subform.form_name}}">{{subform.get_friendly_name()}}</h3>
            {% if subform.description %}<p>{{subform.description}}</p>{% endif %}
            
            {{mh.thumbblock(subform.submissions_filtered(limit), thumbnails, limit, rootprefix="../")}}
        {% endfor %}
    {% endfor %}
{% endblock %}