{% extends "_layout.html" %}
{% macro linkbox(linkobj) %}
    <ul>
    {% if linkobj.fa %}<li><a href="https://www.furaffinity.net/view/{{ linkobj.fa }}/">FurAffinity</a></li>{% endif %}
    {% if linkobj.weasyl %}<li><a href="{{ linkobj.weasyl }}">Weasyl</a></li>{% endif %}
    </ul>
{% endmacro %}
{% block title %}{{image.title}} by {{image.artist.name}}{% endblock %}
{% block content %}
    <h1>{{image.title}} by {{image.artist.name}}</h1>

    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-6">
            <p><a href="{{thumbnails.full}}"><img src="{{thumbnails.512}}" /></a></p>
            {% if image.description %}<p>{{image.description|markdown}}</p>{% endif %}
        </div>
        <div class="col-sm-12 col-md-5 col-lg-6">
            <h4>Info</h4>
            <p>
                Posted on {{ image.get_date_str() }}
            </p>
            <br />

            <h4>Characters</h4>
            <ul>
                {% for form in image.characters %}
                <li><a href="../{{form.get_path(limit)}}">{{form.character.name}}</a> ({{form.get_friendly_name(lower=True)}})</li>
                {% endfor %}
            </ul>

            <h4>Tags</h4>
            <ul>
                {% for tag in image.tags %}
                <li><a href="../{{tag.get_path(limit)}}"{% if tag.description %} title="{{tag.description}}"{% endif %}>{{tag.get_friendly_name()}}</a></li>
                {% endfor %}
            </ul>

            <h4>Species</h4>
            <ul>
                {% for species in image.species %}
                <li><a href="../{{species.get_path(limit)}}">{{species.get_friendly_name(lower=True)}}</a></li>
                {% endfor %}
            </ul>

            {% if sequence %}
                {% macro format_link(image, seq, title, extra_test=True) %}
                    {% if seq and seq != image and extra_test %}<li><a href="../{{seq.artist.slug()}}/{{seq.slug}}.html">{{title}}</a></li>{% endif %}
                {% endmacro %}
                <h4>Sequence</h4>
                <ul>
                    {# Condense first+previous when they're the same image #}
                    {{format_link(image, sequence.first, "First", sequence.prev != sequence.first)}}
                    {{format_link(image, sequence.prev, "Previous")}}
                    {{format_link(image, sequence.next, "Next")}}
                    {{format_link(image, sequence.last, "Last", sequence.next != sequence.last)}}
                </ul>
            {% endif %}

            {% if image.groups %}
                <h4>Groups</h4>
                <ul>
                    {% for group in image.groups %}
                    <li><a href="../{{group.get_path(limit)}}">{% if group.description %}{{group.description}}{% else %}{{group.get_friendly_name()}}{% endif %}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if image.artist_links %}
                <h4>Artist's links</h4>
                {{ linkbox(image.artist_links) }}
            {% endif %}
            {% if image.my_links %}
                <h4>My links</h4>
                {{ linkbox(image.my_links) }}
            {% endif %}
        </div>
    </div>
{% endblock %}