{% extends "_layout.html" %}
{% block title %}Kauko's Gallery{% endblock %}
{% block content %}
    <h1>Kauko's Gallery</h1>

    <h2>Files</h2>
    {{mh.thumbblock(files, thumbnails)}}

    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <h2><a href="all_artists.html">Artists</a></h2>
            <ul>
                {% for artist in artists %}<li><a href="{{artist.get_slug()}}/">{{artist.name}}</a></li>{% endfor %}
            </ul>
        </div>

        <div class="col-sm-6 col-lg-3">
            <h2><a href="all_tags.html">Tags</a></h2>
            <ul>
                {% for tag in tags %}
                {% if not tag.startswith("species#") %}
                {% set tagdet = get_tag_details(tag, as_none=True) %}
                <li><a href="_tags/{{tag|replace('#','_')}}.html"{% if tagdet %} title="{{tagdet}}"{% endif %}>{{tag}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-6 col-lg-3">
            <h2><a href="all_species.html">Species</a></h2>
            <ul>
                {% for spec in species %}<li><a href="_species/{{spec}}.html">{{get_species_details(spec)}}</a></li>{% endfor %}
            </ul>
        </div>
        
        <div class="col-sm-6 col-lg-3">
            <h2><a href="all_characters.html">Characters</a></h2>
            <ul>
                {% for char_name in characters %}<li><a href="_characters/{{char_name}}.html">{{character_data[char_name].name}}</a></li>{% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}